<%- include("partials/header.ejs") %>cd

<h2>Recent Recipes</h2>

<ul>
    <% recipes.forEach(function(recipe) { %>
        <li>
            <h3><%- recipe.name %></h3>
            <p>Cuisine: <%- recipe.cuisine %></p>
            <p>Meal: <%- recipe.meal %></p>
            <p>Recipe: <%- recipe.recipe %></p>
        </li>
    <% }); %>
</ul><%- include("partials/footer.ejs") %>
