<%- include("partials/header.ejs") %>


<h2><%- newRecipe.name %></h2>
<p>Cuisine: <%- newRecipe.cuisine %></p>
<p>Meal: <%- newRecipe.mealType %></p>
<p>Ingredients: <%- newRecipe.ingredients %></p>
<p>instructions: <%- newRecipe.instructions %></p>



<%- include("partials/footer.ejs") %>