<%- include("partials/header.ejs") %>


<h2><%- newRecipe.name %></h2>
<p>Cuisine: <%- newRecipe.cuisine %></p>
<p>Meal: <%- newRecipe.meal %></p>
<p>Recipe: <%- newRecipe.recipe %></p>


<%- include("partials/footer.ejs") %>